{% extends "base.html" %}
{% load static %}

{% block head %}
<title> Inbox </title>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'messaging/messaging-style.css' %}">
    <div class="box container">
        <div class="justify-content-center row">
            <div>
                <h3 class="dms"> Your DMs </h3>
            </div>
            <div class="hidden-div">

            </div>
            <div>
                <form method="GET" action="{% url 'create-convo' %}">
                    <button class="btn btn-outline p-3" type="submit"> Start a Convo </button>
                </form>
            </div>
        </div>
    </div>
    <div class="mt-5">
        {% for convo in convos %}
            <a href="{% url 'messages' convo.receiver.pk convo.sender.pk %}">
                <div class="convo-box mb-4 ml-auto mr-auto">
                    <div class="convos card col p-4">
                        <div>
                            <h5> {{ convo.sender }} <i class=" ml-2 mr-2 fa fa-paper-plane"></i> {{ convo.receiver }} </h5>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}