{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'messaging/messaging-style.css' %}">
    
<a class="back-to-convo" href="/messages/"><i class="fa-2x fa fa-angle-left"></i></a>

{% if  messages.0.receiver == request.user %}
    <a class="message-link mb-4" href="/profile/{{messages.0.sender}}"><h5 class="message-messaging">@{{  sender }}</h5></a>
{% else %}
    <a class="message-link mb-4" href="/profile/{{messages.0.receiver}}"><h5 class="message-messaging">@{{  receiver }}</h5></a>
{% endif %}

<div class="container">
    {% if messages.all.count < 1 %}
        <div class="message-div row my-3">
            <div class="col-md-12">
                <p class="empty-text"> No Messages </p>
            </div>
        </div>
    {% endif %}

    {% if messages.all.count > 0 %}
        <div class="message-div mt-3">
            {% for message in messages %}
                <div class="row">
                    <div class="col-md-12 my-1">
                        {% if message.sender == request.user %}
                            {% if message.content != "" %}
                                <div class="sent-message my-3">
                                    <p> {{ message.content }}</p>
                                    <small class="float-right"> {{ message.timestamp }}</small>
                                </div>
                            {% endif %}
                        {% elif message.receiver == request.user %}
                            {% if message.content != "" %}
                                <div class="received-message my-3">
                                    <p> {{ message.content }}</p>
                                    <small class="float-right"> {{ message.timestamp }}</small>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row mb-4">
        <div class="form-div col-md-12 mt-5 p-3">
            <form method="POST" action="{% url 'create-message' receiver.pk sender.pk %}">
                {% csrf_token %}
                <textarea class="form-control" rows='5' name="content" required> </textarea>
                {{ form | crispy }}
                <div class="send-message-div mt-3">
                    <button class="send-message-button btn btn-light" type="submit"> Send Message </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}