{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'admin-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pagination-style.css' %}">
<title> Admin Dashboard </title>
{% endblock %}
{% block content %}
<section id="content-section">
    <section>
        <h1>Superuser dashboard</h1>
    </section>
    <section class="row">
        <section id="lefthand-block">
            <table class="dark-content-block">
                <thead>
                    <tr>
                        <th class="id-data">
                            ID
                        </th>
                        <th class="username-data">
                            Username
                        </th>
                        <th class="group-data">
                            Group
                        </th>
                        <th colspan="5">

                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for target_user in user_list %}
                    <tr class="{% if target_user.profile.flagged %}flagged-box{% endif %}">
                        <td class="id-data">
                            {{ target_user.id }}
                        </td>
                        <td>
                            {{ target_user.username }}
                        </td>
                        <td>
                            {{ target_user.groups.all.0 }}
                        </td>
                        {% include 'admin-actions.html' with target_user=target_user %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'page-select.html' %}
        </section>
        <div class="mr-auto">
        </div>
        <div id="righthand-block">
            <section class="content-section" id="user-create">
                <h2>User Creation</h2>
                <a href="{%url 'admin_create_user' %}" class="section-link">
                    <h4>Create a new user here</h4>
                </a>
            </section>
            <section class="content-section" id="logs">
                <h2>Recent Logs</h2>
                {% for log in logs %}
                <section class="log">
                    <span class="log-username">
                        {{ log.user }}
                    </span>
                    <span class="log-action">
                        {{ log.object_repr }}
                    </span>
                </section>
                {% empty %}
                    Nothing has been logged.
                {% endfor %}
                <a href="{%url 'logs' %}" class="section-link">
                    <p>More</p>
                </a>
            </section>
        </div>
    </section>
    {% include 'user-search.html' %}
</section>
{% endblock %}
