{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'item_catalog/item_catalog-style.css' %}">
<title> Edit {{ object.username }} </title>
{% endblock %}

{% block content %}
    <h1>Edit User</h1>
    <article class="media content-section">
        <div>
            <img class="article-img" src="{{ object.profile.image.url }}" width="100" height="100">
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <h3 class="article-content">{{ object.username }}</h3>
                <p class="article-content"> {{ object.email }} </p>
            </div>
            <p class="row-container">
                <p>
                    {{ object.groups.all.0 }}
                </p>
                <p>
                    Blocked: {% if object.profile.blocked %}Yes{% else %}No{% endif %}
                </p>
                <p>
                    Flagged: {% if object.profile.flagged %}Yes{% else %}No{% endif %}
                </p>
            </p>
        </div>
    </article>
    <div class="content-section mb-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <input type="submit" value="Change"/>
        </form>
    </div>
{% endblock %}