.useradmin-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 50px;
    margin: 1em 0;
}
.useradmin-actions>*{
    min-height: 100%;
    min-width: 128px;
    margin: 0 10px;
}
.useradmin-actions button{
    min-height: 100%;
    min-width: 100%;
}