.convo-box{
    width: 600px;
    text-align: center;
}

.box {
    margin-top: 90px;
}

.hidden-div {
    margin-right: 250px;
}

.convos {
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px #dddddd;
}

.dms {
    text-align: center;
    font-size: 40px;
}

.send-message-div {
    text-align: center;
}

.send-message-button {
    border: 0.2px solid #dddddd;
}

.message-div {
    border: 0.5px solid #dddddd;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px #dddddd;
}

.form-div {
    border: 0.5px solid #dddddd;
    box-shadow: 3px 3px 3px 3px #dddddd;
}

.empty-text {
    color: #777;
    font-size: 1.5rem;
    text-align: center;
}

.received-message {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 10px 25px;
    width: 25%;
    overflow: hidden;
}

.sent-message {
    background-color: rgb(1, 196, 255);
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    width: 25%;
    float: right;
    overflow: hidden;
}

.send-dm-text{
    text-align: center;
}

.create-convo-button{
    background-color: #777;
}

.create-convo-button:hover{
    background-color: #dddd;
}

.form-box {
    text-align: center;
    border: 1px solid #dddd;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 10px 10px 10px 10px #ddd;
}

.back-inbox {
    border: 1px solid #777;
}

.back-inbox:hover {
    background-color: #ddd;
}

.user-tag {
    box-shadow: 3px 3px 3px 3px #dddddd;
}

.message-messaging {
    text-decoration: none;
    color:#333333;
}

.message-messaging:hover {
    text-decoration: none;
    color:#666666;
}