{% extends 'base.html' %}
{% block title %}
    Logged in
{% endblock %}
{% block content %}
<div class="profile-page">
    <img class="profile-pic" src="{{ profile.image.url }}">

    <h1 class="profile-name center">{{ profile.user.username }}'s page</h1>
    <h2 class="user-headers">First Name</h2>
    <p class="user-info">{{ user.first_name }}</p>
    <h2 class="user-headers">Last Name</h2>
    <p class="user-info">{{ user.last_name }}</p>
    <h2 class="user-headers">Email</h2>
    <p class="user-info">{{ user.email }}</p>

</div>
{% endblock %}