{% extends 'base.html' %}
{% load admin_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'item_catalog/item_catalog-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'profile-style.css' %}">
<title> {{ user.username }}'s Profile </title>
{% endblock %}

{% block content %}
<div class="profile-page">
    {% if user|in_group:'Member' %}
    <div class="row useradmin-actions">
        {% if perms.user_management.warn_member %}
        <a href="{% url 'warn_member' profile.user.id %}?next={{ request.get_full_path|urlencode }}">
            <button class="btn btn-outline-info action-button-2">
                Warn User
            </button>
        </a>
        {% endif %}
        {% if perms.administration.add_userflag %}
        <form action="{% url 'flag_member' profile.user.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <button type = 'submit' class="btn btn-outline-info action-button-2">
                {% if not profile.flagged %}
                Flag
                {% else %}
                Unflag
                {% endif%}
            </button>
        </form>
        {% endif %}
        {% if perms.user_management.block_member %}
        <form action="{% url 'block_member' profile.user.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <button type = 'submit' class="btn btn-outline-info action-button-2">
                {% if not profile.blocked %}
                Block
                {% else %}
                Unblock
                {% endif%}
            </button>
        </form>
        {% endif %}
        {% if perms.user_management.delete_member %}
        <a class="action-button-2" href="{% url 'delete_member' profile.user.id %}?next={{ request.get_full_path|urlencode }}">
            <button class="btn btn-outline-info action-button-2">
                Delete User
            </button>
        </a>
        {% endif %}
    </div>
    {% endif %}
    {% if profile.flagged %}
    <div class="flagged-box content-section">
        <h1>
            {% if profile.user == request.user %}You were last{% else %}This user was{% endif %} flagged on {{ profile.latest_flag.timestamp }}
        </h1>
    </div>
    {% endif %}
    <img class="profile-pic" src="{{ profile.image.url }}">
    <h1 class="profile-name center">{{ profile.user.username }}'s page</h1>
    <div class="content-section">
        <h2 class="user-headers">First Name</h2>
        <p class="user-info">{{ user.first_name }}</p>
        <h2 class="user-headers">Last Name</h2>
        <p class="user-info">{{ user.last_name }}</p>
        <h2 class="user-headers">Email</h2>
        <p class="user-info">{{ user.email }}</p>
        {% if request.user.username == profile.user.username %}
            <a class="button center" href="/profile/{{ user.username }}/edit">Edit Profile</a>
            <br>
            <a class="button center" href="/profile/{{ user.username }}/password">Edit Password</a>
        {% endif %}
    </div>
</div>
{% endblock %}