{% extends 'base.html' %}
{% block head %}
<title> User profile </title>
{% endblock %}
{% block title %}
    Logged in
{% endblock %}
{% block content %}
<div class="profile-page">
    <div class="row">
        {% if perms.user_management.warn_member %}
        <a href="{% url 'warn_member' profile.user.id %}?next={{ request.get_full_path|urlencode }}">
            <button class="btn btn-outline-info action-button-2">
                Warn User
            </button>
        </a>
        {% endif %}
        {% if perms.user_management.add_userflag %}
        <form action="{% url 'flag_member' profile.user.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <button type = 'submit' class="btn btn-outline-info action-button-2">
                {% if not profile.flagged %}
                Flag
                {% else %}
                Unflag
                {% endif%}
            </button>
        </form>
        {% endif %}
        {% if perms.user_management.block_member %}
        <form action="{% url 'block_member' profile.user.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <button type = 'submit' class="btn btn-outline-info action-button-2">
                {% if not profile.blocked %}
                Block
                {% else %}
                Unblock
                {% endif%}
            </button>
        </form>
        {% endif %}
        {% if perms.user_management.delete_member %}
        <a class="action-button-2" href="{% url 'delete_member' profile.user.id %}?next={{ request.get_full_path|urlencode }}">
            <button class="btn btn-outline-info action-button-2">
                Delete User
            </button>
        </a>
        {% endif %}
    </div>

    <img class="profile-pic" src="{{ profile.image.url }}">
    <h1 class="profile-name center">{{ profile.user.username }}'s page</h1>
    <h2 class="user-headers">First Name</h2>
    <p class="user-info">{{ user.first_name }}</p>
    <h2 class="user-headers">Last Name</h2>
    <p class="user-info">{{ user.last_name }}</p>
    <h2 class="user-headers">Email</h2>
    <p class="user-info">{{ user.email }}</p>
    {% if request.user.username == profile.user.username %}
        <a class="button center" href="/profile/{{ user.username }}/edit">Edit Profile</a>
        <br>
        <a class="button center" href="/profile/{{ user.username }}/password">Edit Password</a>
    {% endif %}
</div>
{% endblock %}