{% extends 'base.html' %}
{% block title %}
    Registration
{% endblock %}
{% block content %}
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in reg_form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
        {{ member_form }}
        <br>
        <input type="submit" value="Register"/>
    </form>
{% endblock %}