#content-section{
    padding: 0 2em;
}
table.dark-content-block{
    table-layout: fixed;
    width: 100%;
}

h1{
    margin-bottom: 1%;
    margin-top: 0;
}
h1,h2 {
    border-bottom: 1px solid #e3e3e3;
}

.content-section>h2{
    margin-bottom: 1em;
}
.section-link>*{
    color: #428bca;
}
.section-link:hover>*{
    color: #428bca;
}

th.id-data, td.id-data{
   width: 4vmin;
}

td,th {
    padding: 1.5vmin 1vmin;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2vmin;
    color: white;
}

tbody>tr:nth-child(odd){
    background-color: #5f788a;
}
tr:nth-child(even),thead>tr {
    background-color: #6f91a8;
}
td button{
    min-width: 100%;
}