{% extends 'base.html' %}
{% load pagination %}

{% block content %}
    <h1 class="explore-title"> Projects </h1>
    {% include 'project-search.html' %}
    {% for item in items %}
        <article class="media content-section {% if item.flagged %}flagged-box{% endif %}">
            <img class="article-img" src="{{ item.snapshot.url }}">
            <div class="media-body">
                <div class="article-metadata row">
                    <div>
                        <a class="item-username mr-2" href="profile/{{ item.owner.username }}">{{ item.owner.username }}</a>
                        <small class="text-muted">{{ item.date_posted }}</small>
                    </div>
                    <div class="mr-auto">
                    </div>
                    {% include 'item_admin_actions.html' with item=item %}
                    {% include 'self_item_actions.html' with item=item %}
                </div>
                <h2><a class="article-title" href="{% url 'project-detail' item.pk %}">{{ item.name }}</a></h2>
                <p class="article-content"> Type: {{ item.type }}</p>
                <p class="article-content"> Field: {{ item.field }}</p>
                <p class="article-content"> Status: {{ item.status }}</p>
                <div class="row container">
                    <p class="article-content"> Keywords: </p>
                    <p class="keyword-list ml-2">
                        {% for keyword in item.get_keywords %}
                            <a href="?keyword={{ keyword }}">#{{ keyword }}</a>
                        {% endfor %}
                    </p>
                </div>
                <p class="article-content"> Rating: {{ item.avg_rating }} </p>
                {% if item.flagged %}
                <h3>
                    <i>This item is flagged. It is only visible to Item Admins for now.</i>
                </h3>
                {% endif %}
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1{{ request|nonpage_attributes }}"> First </a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}{{ request|nonpage_attributes }}"> Previous </a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}{{ request|nonpage_attributes }}"> {{ num }} </a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}{{ request|nonpage_attributes }}"> {{ num }} </a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}{{ request|nonpage_attributes }}"> Next </a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}{{ request|nonpage_attributes }}"> Last </a>
        {% endif %}
    {% endif %}
{% endblock content %}