{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <title> Project: {{ object.name }} </title>
{% endblock %}

{% block content %}
    {% if item.flagged %}
    <div class="flagged-box content-section">
        <h1>
            This item was flagged on {{ item.latest_flag.timestamp }}
        </h1>
    </div>
    {% endif %}
    <h1 class="detail-title"> {{ object.name }} </h1>
    <h2 class="detail-owner">
        By <a href="{%url 'user_profile' object.owner.username %}" class="item-username">{{ object.owner.username }}</a>
    </h2>
    <div class="container">
        <div class="row detail-top-box">
            <div class="detail-image-box">
                <img class="detail-img" src="{{ object.snapshot.url }}">
            </div>
            <div class="detail-box">
                <div class="item-actions-container">
                    {% include 'item_admin_actions.html' %}
                    {% include 'self_item_actions.html' %}
                </div>
                <div class="mt-3">
                    <p class="article-content"> Type: {{ object.type }}</p>
                    <p class="article-content"> Field: {{ object.field }}</p>
                    <p class="article-content"> Status: {{ object.status }}</p>
                    <div class="container">
                        <div class="row">
                            <p class="article-content"> Keywords: </p>
                            <p class="keyword-list ml-2">
                                {% for keyword in item.get_keywords %}
                                <a href="{%url 'explore-projects' %}?keyword={{ keyword }}">#{{ keyword }}</a>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="explore-title mt-4"> Project Content </h2>
    <div class="detail-content mb-4"> {{ object.content|linebreaks }} </div>
    <div class="container mb-4">
        <div class="row">
            <div>
                <footer> <a class="url-link" href="{{ object.url }}"> Link To URL</a> </footer>
            </div>
            <div class="mr-auto">
            </div>
            <div>
                <footer> {{ object.date_posted }} </footer>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="container mb-3">
            <div class="row">
                <div>
                    <form method="POST" action="{% url 'like-project' object.id %}">
                        {% csrf_token %}
                        <button type="submit" name="item_id" value="{{ item.id }}" class="like-but btn btn-sm">
                            Like <i class="ml-1 fa fa-thumbs-up"></i>
                        </button>
                    </form>
                </div>
                <div class="ml-2">
                    <p> - {{ object.total_likes }} {% if object.total_likes == 1 %} Like {% else %} Likes {% endif %} </p>
                </div>
                <div class="mr-auto">

                </div>
                <div>
                    <form  method="POST" action="{% url 'rate-project' object.pk %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="rate">
                            <input type="radio" name="rate" id="rating10" value="5.0" /><label for="rating10" title="5"></label>
                            <input type="radio" name="rate" id="rating9" value="4.5" /><label for="rating9" title="4.5" class="half-star"></label>
                            <input type="radio" name="rate" id="rating8" value="4.0" /><label for="rating8" title="4"></label>
                            <input type="radio" name="rate" id="rating7" value="3.5" /><label for="rating7" title="3.5" class="half-star"></label>
                            <input type="radio" name="rate" id="rating6" value="3.0" /><label for="rating6" title="3"></label>
                            <input type="radio" name="rate" id="rating5" value="2.5" /><label for="rating5" title="2.5" class="half-star"></label>
                            <input type="radio" name="rate" id="rating4" value="2.0" /><label for="rating4" title="2"></label>
                            <input type="radio" name="rate" id="rating3" value="1.5" /><label for="rating3" title="1.5" class="half-star"></label>
                            <input type="radio" name="rate" id="rating2" value="1.0" /><label for="rating2" title="1"></label>
                            <input type="radio" name="rate" id="rating1" value="0.5" /><label for="rating1" title="0.5" class="half-star"></label>
                            <button type="submit" class="btn btn-outline btn-sm mr-2">
                                Rate
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br></br>
        <h3> Comments... </h3>
        <hr>
        {% if not object.comments.all %}
            No Comments Yet...
            <br> </br>
        {% else %}
            {% for comment in object.comments.all %}
                <div class="comment-post mb-4">
                    <strong>
                        {{ comment.commenter }} -
                        {{ comment.timestamp }}
                    </strong>
                    <br></br>
                    {{ comment.content }}
                </div>
            {% endfor %}
            <hr>
        {% endif %}
        <div class="comment-div mb-4 mt-4">
            <form method="POST" action="{% url 'project-comment' object.pk %}">
                {% csrf_token %}
                <textarea class="form-control" rows='3' name="content" required> </textarea>
                {{ form | crispy }}
                <div class="mt-3">
                    <button class="comment-button btn btn-light" type="submit"> Add Comment </button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock content %}