{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'item_catalog/item_catalog-style.css' %}">
    <div class="content-section mb-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> New Project </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="like-but btn btn-outline-info" type="submit"> Create Project </button>
            </div>
        </form>
    </div>
{% endblock content %}