<section class="search-nav">
    {% block form_header %}
    {% endblock %}

        {% csrf_token %}
        <h2>
            {% block title %}
                Search
            {% endblock %}
        </h2>
        <section class="search-container row">
            <section class="search-section">
                <input type="text" name="search-query">
            </section>
            <div class="mr-auto">
            </div>
            <section class="filter-section">
                <label>Filter By:</label>
                <select name="filter-by" id="filter-by">
                    {% for field in item_fields %}
                        <option value="{{ field }}" {% if request.GET.filter == field %} selected="selected" {% endif %}>
                            {{ field }}
                        </option>
                    {% endfor %}
                </select>
            </section>
            <section class="button-container">
                <button type="submit" class="btn btn-outline-info">
                    Search
                </button>
            </section>
        </section>
    </form>
</section>