body {
    background: #fafafa;
    color: #333333;
    margin-top: 6rem;
}

.container {
  max-width: 100%;
}

.navbar {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.main-container {
  max-width: 1140px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #393939;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.nav-title{
  font-size: 160%;
  display: flex;
  align-content: center;
}
.nav-title span{
    margin: auto;
    padding-left: 10px;
    text-align: center;
}
.nav-title i{
    font-size: 180%;
}

.keyword-list a, .keyword-list a:hover{
  color: #428bca;
}

.dark-content-block {
  background-color: #393939;
  padding: 1em;
  border-radius: 4px;
  color: white;
}

.dark-content-block>h1,.dark-content-block>h2{
  color: white;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1.5px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

@keyframes flag-animation {
  from {
    background-color: #ffffff;
  }
  to {
    background-color: #613c45;
  }
}

@keyframes article-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.media.content-section {
    animation-name: article-load;
    animation-duration: 0.5s;
}

.flagged-box {
    background-color: #613c45;
    animation-name: flag-animation;
    animation-duration: 1s;
    color: white;
}

.flagged-box *{
    color: white;
}

.flagged-box button{
    background-color: white;
    color: black;
}

.flagged-box .article-title,.flagged-box .item-username{
    color: white
}

.flagged-box small{
    color: #eeeeee;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.item-username:hover {
  color: #9a9b9c;
  text-decoration: none;
}

.url-link {
  color:#444444;
  font-weight: 510;
}

.url-link:hover {
  color: #9a9b9c;
  text-decoration: none;
}

@keyframes hover-acbutton-1 {
  from {
    background-color: white;
    color: #595959;
  }
  to {
    background-color: #595959;
    color: white;
  }
}
@keyframes hover-acbutton-2 {
  from {
    background-color: #595959;
    color: white;
  }
  to {
    background-color: white;
    color: #595959;
  }
}

.action-button-1,.action-button-2{
  border-radius: 4px;
  border: none;
}
.action-button-1 {
  background: white;
  color: #393939;
}
.action-button-1:hover {
    background-color: #595959;
    animation-name: hover-acbutton-1;
    animation-duration: .5s;
    color: white;
}
.action-button-1:active {
  background-color: #393939;
  color: white;
}
.action-button-2 {
  background-color: #393939;
  color: white;
}
.action-button-2:active {
  background: white;
  color: #393939;
}
.action-button-2:hover {
    background-color: white;
    animation-name: hover-acbutton-2;
    animation-duration: .5s;
    border: solid 1px #595959;
    color: #595959;
}
.action-button-1:disabled,.action-button-2:disabled,.action-button-1:disabled:hover,.action-button-2:disabled:hover{
    background: #6f6f6f;
    animation-name: none;
    color: white;
}

.item-admin-actions button{
  width: 150px;
}

.item-actions form{
    display: inline
}

input:checked ~ label, label:hover ~ label {
  color: #FFB503;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-name {
  margin-bottom: 3%;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}

.user-headers {
  margin-top: 5%;
}

.user-info {
  font-size: 30px;
}

.button {
  border: none;
  background-color: #008CBA;
  color: white;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.button:hover {
  background-color: #006080;
}

.msg {
  font-size: 20px;
  color: red;
}

.search-nav{
  padding: 1em;
  background: #ffffff;
  padding: 10px 20px;
  border: 1.5px solid #dddddd;
  margin-bottom: 20px;
}
.search-container{
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;
}
.search-section{
  width: 70%;
  height: 30px;
}
.filter-section{
  width: 25%;
  margin-left: 1em;
  height: 30px;
}
.filter-section>select{
  border: 4px;
  width: 50%;
  color: white;
  background-color: #393939;
  height: 100%;
}
.search-section input{
  width: 100%;
  height: 100%;
}
.search-nav .button-container{
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.search-nav .action-button-2{
  width: 20%;
  height: 30px;
}

.dropdown {
  display: none;
  background-color: white;
  border: solid 2px lightgray;
  padding: 4px 16px;
}

.notifications:hover .dropdown {
  display: block;
  position: absolute;
}
.notification p{
    text-indent: 1em;
    margin-bottom: 4px;
}
.notif-separator{
    margin-top: 0;
}
.single-notif {
  border: dotted 3px lightgray;
}
