body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .nav-title {
    font-size: 22px;
  }

  .explore-title{
    text-align: center;
    margin-bottom: 18px;
  }

  .detail-title{
    text-align: center;
    margin-bottom: 25px;
    font-size: 50px;
  }

  .keyword-list {
    color: #428bca;
  }
  
  .detail-box {
    border: 2px solid #dddddd;
    padding: 20px;
    min-width: 400px;
    max-width: 400px;
  }

  .detail-img {
    height: 400px;
    min-width: 400px;
    max-width: 400px;
    margin-right: 30px;
    border: 2px solid #dddddd;
  }

  .detail-content{
    font-size: 25px;
    border: 2px solid #dddddd;
    padding: 20px;
  }

.dark-content-block {
    padding: 1em;
    background-color: #5f788a;
    border-radius: 4px;
    color: white;
}
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1.5px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 200px;
    width: 200px;
    margin-right: 30px;
    border: 2px solid #dddddd;
  }

  .item-username {
    font-size: 22px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

.action-button-1,.action-button-2 {
    border-radius: 4px;
    border-style: none;
    padding: 4px;
}

.action-button-1 {
    background: white;
    color: #5f788a;
}

.action-button-1:active {
    background: #5f788a;
    color: white;
}

.action-button-2 {
    color: white;
    background: #5f788a;
}

.action-button-2:active {
    color: #5f788a;
    background: white;
}

.item-admin-actions button{
    width: 150px;
}