body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  ul {
    margin: 0;
  }

  .bg-steel {
    background-color: #393939;
  }

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .nav-title {
    font-size: 22px;
  }

  .explore-title{
    text-align: center;
    margin-bottom: 18px;
  }

  .detail-title{
    text-align: center;
    margin-bottom: 25px;
    font-size: 50px;
  }

  .keyword-list {
    color: #428bca;
  }

  .detail-box {
    border: 2px solid #dddddd;
    padding: 20px;
    min-width: 400px;
    max-width: 400px;
  }

  .detail-img {
    height: 400px;
    min-width: 400px;
    max-width: 400px;
    margin-right: 30px;
    border: 2px solid #dddddd;
  }

  .detail-content{
    font-size: 25px;
    border: 2px solid #dddddd;
    padding: 20px;
    overflow-wrap: break-word;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1.5px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .article-title {
    color: #444444;
  }

  a.article-title:hover {
    color: #9a9b9c;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 200px;
    width: 200px;
    margin-right: 30px;
    border: 2px solid #dddddd;
  }

  .item-username {
    font-size: 22px;
    color:#444444;
    font-weight: 550;
  }

  .item-username:hover {
    color: #9a9b9c;
    text-decoration: none;
  }

  .url-link {
    color:#444444;
    font-weight: 510;
  }

  .url-link:hover {
    color: #9a9b9c;
    text-decoration: none;
  }

  .rate {
    display: inline-block;
    border: 0;
  }

  .rate > input {
    display: none;
  }

  .rate > label {
    float: right;
  }

  .rate > label:before {
    display: inline-block;
    font-family: FontAwesome;
    content: "\F005";
    margin: 0;
    font-size: 1.1rem;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
  }

  .rate .half-star:before {
    content: "\F089";
    position: absolute;
    padding: right 0;
  }

  input:checked ~ label, label:hover ~ label {
    color: #FFB503;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-name {
    margin-bottom: 3%;
  }

  .profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height 300px;
  }

  .user-headers {
    margin-top: 5%;
  }

  .user-info {
    font-size: 30px;
  }

  .edit-profile {
    border: none;
    background-color: #008CBA;
    color: white;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }

  .edit-profile:hover {
    background-color: #006080;
  }

  .msg {
    font-size: 20px;
    color: red;
  }