.convo-box{
    width: 600px;
    text-align: center;
}

.box {
    margin-top: 90px;
}

.hidden-div {
    margin-right: 250px;
}

.convos {
    text-align: center;
    background-color: #f3f3f3;
}

.dms {
    text-align: center;
    font-size: 40px;
}

.send-message-div {
    text-align: center;
}

.send-message-button {
    border: 0.2px solid #dddddd;
}

.message-div {
    border: 0.5px solid #dddddd;
    padding: 30px;
    border-radius: 30px;
}

.form-div {
    border: 0.5px solid #dddddd;
}

.empty-text {
    color: #777;
    font-size: 1.5rem;
    text-align: center;
}

.received-message {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 10px 25px;
    width: 25%;
    overflow: hidden;
}

.sent-message {
    background-color: rgb(1, 196, 255);
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    width: 25%;
    float: right;
    overflow: hidden;
}

.comment-button {
    border: 2px solid #dddddd;
}